<div class="subscribe">
  <h3 class="subscribe-title">Get RaleighPM Delivered</h3>
  <p>Weekly product development insights</p>
  <form data-members-form="subscribe">
    <input data-members-email type="email" required="true" />
    <button type="submit">Subscribe</button>
  </form>
  <small>100% free; unsubscribe anytime.</small>
</div>