<section class="subscribe-form">
  <h3 class="subscribe-form-title">Never miss a post with the weekly newsletter!</h3>
  <p>100% free; unsubscribe anytime.</p>
  <form data-members-form="subscribe">
    <input data-members-email type="email" required="true" placeholder="youremail@example.com" />
    <button type="submit">Subscribe</button>
  </form>
</section>