<section class="subscribe-form">
  <h3 class="subscribe-form-title">Get weekly insights in your inbox</h3>
  <p>100% free; unsubscribe anytime.</p>
  {{subscribe_form placeholder="youremail@example.com"}}
</section>